<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="Nopackage" >
    
    <parameter name="dev" value=""></parameter>
    <parameter name="qa" value=""></parameter>
    <parameter name="prod" value=""></parameter>
    
    <classes>
       <class name="com.daimler.dcPortal.ApiTesting_Analytics" />
    </classes>
  </test>
 
  <test name="">
    
    
    
   
  </test>
</suite>
